*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.contact{
    width: 30%;
    height: 500px;
    background-color: bisque;
    margin: auto;
    margin-top: 10%;
    padding: 50px 50px;
    text-align: center;
    border-radius: 20px;
}
.form{
    padding: 30px 40px;
    color: brown;
    font-weight: 600;
}
input{
    padding: 10px 5px;
    margin: 10px 5px;
}
button{
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: brown;
    color: white;
}